.base {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  direction: ltr;
}

.content{
  position: absolute;
  height: 100%;
  width: 100%;
}

.margin {
  position: relative;
  margin-right: 15%;
  margin-left: 15%;
  top: 45%;
  transform: translateY(-55%);
}


.smalltext {
	color: #FFF;
  font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    z-index: 9000; 
    bottom: 2%;
    text-decoration: none;
}

.boldsmalltext
{
font-weight: 600;
color: #fff;
    text-decoration: none;
}


.middleinfo {
position: fixed;
	text-align: center; 
	  width: 100%;
}

.contact {
	position: fixed;
	left: 2%;
}

.share {
	position: fixed;
	right: 2%;
}


.red {
  background: #d09999;
}
.purple {
    background: #9e99d0;
}
.blue {
    background: #99bcd0;
}
.green {
    background: #9fd099;
}
.orange {
    background: #d0b299;
}
.pink {
  background: #d099bd;
}
.lblue {
    background: #99d0ce;
}
.olive {
    background: #bbd099;
}
.green2 {
    background: #99d0b5;
}
.navy {
    background: #99b3d0;
}


.text {
    color: #FFF;
  font-size: 58px;
  font-style: italic;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 66px;
}

@media screen and (min-width: 0px) and (max-width: 960px) { 
.text {
    font-size: 36px;line-height: 42px;}
.smalltext {font-size: 10px;}
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
.text {font-size: 24px;line-height: 32px;}

.smalltext {font-size: 8px;}
}

    
